* {
  margin: 0;
}
header {
  min-height: 134px;
  border: 1px solid gray;
  margin-bottom: 100px;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}

@font-face {
  font-family: "suit";
  src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf");
}

.highlights {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.highlights .highlight-area {
  width: 474px;
  height: 294px;
  margin-right: 5px;
}

.coin-chart {
  width: 1414px;
  border: 1px solid gray;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
}

.content-table thead tr {
  background-color: #009879;
  color: white;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
  text-align: right;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  margin: 2em 2em;
}
.btn-items {
  margin: 0 10em;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  width: 342px;
  height: 150px;
  padding: 16px;
  background-color: black;
  margin: 0 24px;
  border-radius: 9px;
  cursor: pointer;
}

.greed-chart-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-container {
  display: flex;
  position: relative;
  margin-top: 1em;
  margin-left: 50em;
}

.search-icon {
  position: absolute;
  right: 37em;
  top: 1em;
}

.watch-list-btn {
  border: none;
  outline: none;
  margin-right: 1em;
}

.login-btn,
.resister-btn {
  width: 75px;
  height: 37px;
  margin-left: 1em;
  border: 1px solid #793aff;
  border-radius: 10px;
  color: #793aff;
  cursor: pointer;
  &:hover {
    background-color: #793aff;
    color: white;
  }
}

.pagination {
  display: flex;
  justify-content: center;
}

.coin-chart {
}

.fav-button {
  border: none;
  background-color: none;
}

.page-item .page-link:hover {
  cursor: pointer;
}

.input-container {
  display: flex;
  position: relative;
  margin-top: 1em;
  margin-left: 50em;
}

.search-icon {
  position: absolute;
  right: 37em;
  top: 1em;
}

.watch-list-btn {
  border: none;
  outline: none;
  margin-right: 1em;
}

.login-btn,
.resister-btn {
  width: 75px;
  height: 37px;
  margin-left: 1em;
  border: 1px solid #793aff;
  border-radius: 10px;
  color: #793aff;
  cursor: pointer;
  &:hover {
    background-color: #793aff;
    color: white;
  }
}

.input-wrapper {
  display: flex;
  align-items: center;
}
.input-box {
  width: 373px;
  height: 41px;
  border-radius: 10px;
  padding: 0 1em;
  background-color: #eeeeee;

  &::placeholder {
    text-align: center;
  }
}
.btn-items {
  display: flex;
  align-items: center;
}

.greed-img {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.scroll-to-top {
  position: fixed;
  right: 16px;
  bottom: 76px;
  width: 50px;
  height: 50px;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background: rgb(13, 20, 33);
  color: rgb(255, 255, 255);
  border-radius: 100%;
  user-select: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out 0s;
  z-index: 9999;
  opacity: 0.85;
  outline: none;
  align-items: center;
  justify-items: center;
}

.scroll-to-top:hover {
  opacity: 0.7;
}

.icon-up {
  height: 30px;
  width: 30px;
  color: rgb(255, 255, 255);
  background-image: url(/images/up_white.png);
}

.news-area{
  border:none;
  border-radius:10px;
  box-shadow: 0 2px 8px #38556450;
  padding:20px;
}

.news {
  display:flex;
}

.news-title{
  display:flex;
}

.news-title small {
  color: #793aff; 
  font-weight: 800;
}

.news-img {
  width: 165px;
  height: 115px;
}

.news-pagination-nav {
  display: flex;
  justify-content: center;
}
.news-pagination {
  margin-top: 1.5em;
  display:flex;
}

input[type='radio'] {
  margin : 5px;
  -webkit-appearance: none; 
  -moz-appearance: none; 
  appearance: none; 
  width: 10px;
  height: 10px;
  border: none; 
  border-radius: 100% !important;
  outline: none; 
  cursor: pointer;
  background-color: #CCCCCC;
}

input[type='radio']:checked {
  background-color: #793aff; 
  border: none; 
  box-shadow: 0; 
}

input[type='radio']:hover {
  background-color: gray;
  border: none; 
  box-shadow: 0; 
}
